<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/"><span class="navbar-brand">Murph's Jobs</span></a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/logout">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
